a { 
    color: $gris-claro;
}


header { 
    background-color: $blanco;
    padding:initial;
    margin-bottom: 10px;
}

.header-content {
    width: 100%;
    text-align: center; 
}



.logo {
    font-size: 40px;
    text-transform: uppercase;
    margin: 50px;
    padding: 30px;
}
